<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.uporder.product.mapper.UporderProductMapper">

    <update id="recover">
        update uporder_product set del_flag=0 where id=#{id}

    </update>

    <select id="delList" resultType="org.jeecg.modules.uporder.product.entity.UporderProduct">
        select * from uporder_product ${ew.customSqlSegment}

    </select>

    <select id="listAction" resultType="org.jeecg.modules.uporder.product.vo.UporderProductAction">
        select * from uporder_product up left join uporder_product_medium_text mt on up.id=mt.product_id
        left join sys_depart sd on up.sys_org_code=sd.org_code
        ${ew.customSqlSegment}
    </select>
</mapper>