<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.uporder.product.mapper.UporderProductTypeRefundConfigMapper">

	<delete id="deleteByMainId" parameterType="java.lang.String">
		DELETE 
		FROM  uporder_product_type_refund_config 
		WHERE
			 product_id = #{mainId} 	</delete>
	
	<select id="selectByMainId" parameterType="java.lang.String" resultType="org.jeecg.modules.uporder.product.entity.UporderProductTypeRefundConfig">
		SELECT * 
		FROM  uporder_product_type_refund_config
		WHERE
			 product_id = #{mainId} 	</select>

	<select id="getByProductAndType"
            resultType="org.jeecg.modules.uporder.product.entity.UporderProductTypeRefundConfig">
		select * from uporder_product_type_refund_config where product_id=#{productId} and type_id=#{typeId}
    </select>
</mapper>
